.brands {
	width: 100%;
	margin: 0 auto;
}

.brandsContainer {
	width: 100%;
	display: flex;
}

.brandsContainer .singleElementBorder {
	position: relative;
 	width: 13%;
 	padding-top: 13%;
}

.brandsContainer .singleElementBorder .singleElement {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
 	width: 100%;
 	height: 100%;
 	opacity: 0.3;
 	transition: opacity 0.3s;
}

.brandsContainer .singleElementBorder .singleElement:hover {
 	opacity: 1;
}

.brandsContainer .emptyElementSide {
 	width: 4.5%;
 	padding-top: 13%;
}

div.brandsContainer:first-child .emptyElementSide,
div.brandsContainer:last-child .emptyElementSide {
 	width: 4.5%;
 	padding-top: 5%;
}

.brandsContainer .emptyElement {
 	width: 13%;
 	padding-top: 5%;
}

.brandsContainer div {
	background: no-repeat center;
}


/* FIRST ROW */

div.brandsContainer:first-child .emptyElement {
	border-right: 1px solid rgba(60,64,66,0.2);
}

div.brandsContainer:first-child .emptyElement:nth-child(8) {
	border-right: 0px solid rgba(60,64,66,0.2);
}

/* MIDDLE ROWS */

div.brandsContainer:nth-child(n+2):nth-child(-n+5) .emptyElementSide {
	border-top: 1px solid rgba(60,64,66,0.2);
}

div.brandsContainer:nth-child(n+2):nth-child(-n+5) .singleElementBorder {
	border-right: 1px solid rgba(60,64,66,0.2);
	border-top: 1px solid rgba(60,64,66,0.2);
}

div.brandsContainer:nth-child(n+2):nth-child(-n+5) .singleElementBorder:nth-child(8) {
	border-right: 0px solid rgba(60,64,66,0.2);
}

/* LAST ROW */

div.brandsContainer:last-child .emptyElement {
	border-right: 1px solid rgba(60,64,66,0.2);
	border-top: 1px solid rgba(60,64,66,0.2);
}

div.brandsContainer:last-child .emptyElementSide {
	border-top: 1px solid rgba(60,64,66,0.2);
}


div.brandsContainer:last-child .emptyElement:nth-child(8) {
	border-right: 0px solid rgba(60,64,66,0.2);
}


/* IMAGES */

.brandsContainer .singleElementBorder.nr1 .singleElement { background-image: url(../images/apple.png); }
.brandsContainer .singleElementBorder.nr2 .singleElement { background-image: url(../images/microsoft.png); }
.brandsContainer .singleElementBorder.nr3 .singleElement { background-image: url(../images/vw.png); }
.brandsContainer .singleElementBorder.nr4 .singleElement { background-image: url(../images/ubuntu.png); }
.brandsContainer .singleElementBorder.nr5 .singleElement { background-image: url(../images/playstation.png); }
.brandsContainer .singleElementBorder.nr6 .singleElement { background-image: url(../images/HP.png); }
.brandsContainer .singleElementBorder.nr7 .singleElement { background-image: url(../images/LG.png); }
.brandsContainer .singleElementBorder.nr8 .singleElement { background-image: url(../images/Android.png); }
.brandsContainer .singleElementBorder.nr9 .singleElement { background-image: url(../images/Shell.png); }
.brandsContainer .singleElementBorder.nr10 .singleElement { background-image: url(../images/Dell.png); }
.brandsContainer .singleElementBorder.nr11 .singleElement { background-image: url(../images/EA.png); }
.brandsContainer .singleElementBorder.nr12 .singleElement { background-image: url(../images/Intel.png); }
.brandsContainer .singleElementBorder.nr13 .singleElement { background-image: url(../images/HTML5.png); }
.brandsContainer .singleElementBorder.nr14 .singleElement { background-image: url(../images/AVG.png); }
.brandsContainer .singleElementBorder.nr15 .singleElement { background-image: url(../images/NIKE.png); }
.brandsContainer .singleElementBorder.nr16 .singleElement { background-image: url(../images/AMD.png); }
.brandsContainer .singleElementBorder.nr17 .singleElement { background-image: url(../images/KFC.png); }
.brandsContainer .singleElementBorder.nr18 .singleElement { background-image: url(../images/Nivea.png); }
.brandsContainer .singleElementBorder.nr19 .singleElement { background-image: url(../images/HF2.png); }
.brandsContainer .singleElementBorder.nr20 .singleElement { background-image: url(../images/Insta.png); }
.brandsContainer .singleElementBorder.nr21 .singleElement { background-image: url(../images/Cooler.png); }
.brandsContainer .singleElementBorder.nr22 .singleElement { background-image: url(../images/bosh.png); }
.brandsContainer .singleElementBorder.nr23 .singleElement { background-image: url(../images/teamspeak.png); }
.brandsContainer .singleElementBorder.nr24 .singleElement { background-image: url(../images/allegro.png); }
.brandsContainer .singleElementBorder.nr25 .singleElement { background-image: url(../images/ups.png); }
.brandsContainer .singleElementBorder.nr26 .singleElement { background-image: url(../images/ww.png); }
.brandsContainer .singleElementBorder.nr27 .singleElement { background-image: url(../images/m.png); }
.brandsContainer .singleElementBorder.nr28 .singleElement { background-image: url(../images/mit.png); }