.charts {
	padding: 61px 0;
	display: flex;
	align-items: baseline;
	justify-content: center;
	flex-wrap: wrap;

}

.charts .flexElement {
	width: 400px;
}

.charts canvas {
	/*margin: 0 60px;*/
	position: relative;
	left: 100px;
}

.chartWrap {
	position: relative;
	max-width: 400px;
}

.chartText {
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.chartText .nr {
	font-size: 70px;
	font-weight: 400;
	font-family: 'Signika', sans-serif;
	line-height: 60px;
	color: rgb(243,71,57);
}

.chartText .nr2 {
	font-size: 70px;
	font-weight: 400;
	font-family: 'Signika', sans-serif;
	line-height: 60px;
	color: rgb(0,153,137);
}

.chartText .nr3 {
	font-size: 70px;
	font-weight: 400;
	font-family: 'Signika', sans-serif;
	line-height: 60px;
	color: rgb(21,43,60);
}

.chartText .text {
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
}

.charts .textBelow {
	margin: 35px auto 0 auto;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	max-width: 250px;
}

.chart1 {
	transform: rotate(155deg);
}

.chart2 {
	transform: rotate(155deg);
}

.chart3 {
	transform: rotate(155deg);
}


