.footer {
	background-color: #101010;
	width: 100%;
}

.footerContainer {
	height: 100%;
	margin: 0 auto;
	width: 70%;
	max-width: 1200px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footerInformations {
	height: 235px;
	min-width: 220px;
	text-align: center;
}

.footerInformations h2 {
	color: #fff;
	margin-top: 50px;
	font-weight: 100;
}

.footerInformations hr {
	border-top: 1px solid #009989;
	width: 140px;
}

.footerInformations p {
	color: #4a4a4a;
}

.copyrights {
	height: 60px;
	background-color: #0e0e0d;
	display: flex;
	align-items: center;
	justify-content: center;
}

.copyrights p {
	margin: 0;
	font-size: 12px;
}
