nav.header {
	width: 100%;
	height: 80px;
	background: linear-gradient(90deg, #fafafc 50%, #000 50%);
}

nav.header .content {
	width: 100%;
	max-width: 1200px;
	height: 80px;
	margin: 0 auto;
	display: flex;
	background: #fafafc;
}

nav.header .whiteBox {
	width: 75%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav.header .blackBox {
	width: 25%;
	height: 80px;
	background: #000;
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #fff;
}

nav.header .whiteBox p {
	margin: 15px;
	padding: 6px;
	border: 1px solid red;
	font-size: 20px;
	line-height: 1.2em;
	letter-spacing: 1.3px;
	border-radius: 12px 0 12px 12px;
	cursor: pointer;
}

nav.header .whiteBox div {
	padding: 0 15px 0 0;
}

nav.header .whiteBox i {
	padding: 0 9px;
	font-size: 22px;
	cursor: pointer;
	transition: color 0.2s;
}

nav.header .whiteBox i:hover {
	color: red;
}

nav.header .blackBox p {
	margin: 0;
	font-weight: 300;
}

nav.header .blackBox i {
	padding: 0 15px 0 15px;
	cursor: pointer;
	transition: color 0.2s;
}

nav.header .blackBox i:hover {
	color: red;
}