/* nav bar */

@media only screen and (max-width: 500px) {

	nav.header .blackBox {
		background: #fafafc;
		text-align: right;
		justify-content: flex-end;
	}

	nav.header .whiteBox div {
		display: none;
	}

	nav.header .blackBox p {
		display: none;
	}

	nav.header .blackBox i {
		color: #000;
		font-size: 20px;
		padding: 0 25px;
	}

}

/* check us */

@media only screen and (max-width: 525px) {

	.checkUs {
		height: 400px;
	}

	.checkUs .designers {
	    font-size: 35px;
	    letter-spacing: 6px;
	}

	.checkUs .hrBox hr {
    	width: 20%;
	}

	.checkUs > div:first-child {
	    margin: 0 20px 50px 20px;
	}

	.checkUs a {
		margin: 30px auto 0 auto;
	}	
}

@media only screen and (max-width: 400px) {

	.checkUs .designers {
	    font-size: 27px;
	    letter-spacing: 5px;
	}

	.checkUs .hrBox hr {
    	width: 15%;
	}

	.checkUs .hrBox .needHelp {
	    width: 70%;
	}

}

/* charts */

@media only screen and (max-width: 1199px) {
	
	.charts div.flexElement:last-child {
    	margin: 61px 0 0 0;
	}
}

@media only screen and (max-width: 799px) {
	
	.charts div.flexElement:nth-child(2) {
    	margin: 61px 0 0 0;
	}

}

@media only screen and (max-width: 450px) {

	.chartWrap {
	    display: flex;
	    justify-content: center;
	}

	.charts canvas {
    	margin: 0 ;
	}

	.charts canvas {
		left: 0;
	}
}


@media only screen and (max-width: 450px) {

	.chartWrap {
	    display: flex;
	    justify-content: center;
	}

	.charts canvas {
    	margin: 0 ;
	}
}

/* our team header */

@media only screen and (max-width: 700px) {
	
	.ourTeam {
   		height: 200px;
	}

	.ourTeam .frame  {
	    height: 160px;
	    width: 100%;
	    margin: 0 20px;
	}

}

/* our team */

@media only screen and (max-width: 1000px) {
	
	.people {
		height: 2130px;
		padding: 0 0 50px 0;
	}

	.people .singlePerson {
		height: 520px;
	}

	.people div.singlePerson:nth-child(odd) {
		flex-wrap: wrap-reverse;
	}

	.people div.singlePerson:nth-child(even) {
		flex-wrap: wrap;
	}

	.people .singlePerson .foto,
	.people .singlePerson .description {
		width: 100%;
	}

	.people .singlePerson .foto {
	    height: 240px;
	}

	.people .singlePerson .description {
		height: 240px;
	}

	.people .singlePerson .frame {
	    height: 220px;
	    box-sizing: border-box;
	}

	.people .singlePerson .description.onRight {
	    margin: 40px 20px 0 20px;
	    border: 3px solid #000;
	    border-bottom: 0px;
	}

	.people .singlePerson .description.onRight:after,
	.people .singlePerson .description.onLeft:after {
	    top: 269px;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fcfcfa;
		border-width: 32px;
		margin-left: -32px;
	}

	.people .singlePerson .description.onLeft {
	    margin: 40px 20px 0 20px;
	    border: 3px solid #000;
	    border-bottom: 0px;
	}

	.people .singlePerson .frame.onLeft {
	    margin: 0 20px;
	    border: 3px solid #fff;
	    border-top: 0px;
	}

	.people .singlePerson .frame.onRight {
	    margin: 0 20px;
	    border: 3px solid #fff;
	    border-top: 0px;
	}

}

@media only screen and (max-width: 700px) {

	.people .singlePerson {
		width: 100%;
	}

}

/* portfolio header */

@media only screen and (max-width: 700px) {
	
	.portfolioHeading {
   		height: 200px;
	}

	.portfolioHeading .frame  {
	    height: 160px;
	    width: 100%;
	    margin: 0 20px;
	}

}

/* portfolio */

@media only screen and (max-width: 1200px) {

	.portfolioContainer .singleElement.nr6,
	.portfolioContainer .singleElement.nr7,
	.portfolioContainer .singleElement.nr13,
	.portfolioContainer .singleElement.nr14,
	.portfolioContainer .singleElement.nr20,
	.portfolioContainer .singleElement.nr21 {
		display: none;
	}

	.portfolioContainer .singleElement {
	 	width: 20%;
	 	padding-top: 20%;
	}

	.portfolioContainer div.singleElement:nth-child(1) {
	 	width: 20%;
	 	padding-top: 20%;
	}

}

@media only screen and (max-width: 800px) {

	.portfolioContainer .singleElement.nr5,
	.portfolioContainer .singleElement.nr12,
	.portfolioContainer .singleElement.nr19 {
		display: none;
	}

	.portfolioContainer .singleElement {
	 	width: 25%;
	 	padding-top: 25%;
	}

	.portfolioContainer div.singleElement:nth-child(1) {
	 	width: 25%;
	 	padding-top: 25%;
	}

}

@media only screen and (max-width: 560px) {

	.onlyMobile {
		display: flex;
	}
	
	.portfolioContainer .singleElement.nr4,
	.portfolioContainer .singleElement.nr11,
	.portfolioContainer .singleElement.nr18 {
		display: none;
	}

	.portfolioContainer .singleElement {
	 	width: 33%;
	 	padding-top: 33%;
	}

	.portfolioContainer div.singleElement:nth-child(1) {
	 	width: 34%;
	 	padding-top: 34%;
	}



}

/* brands header */

@media only screen and (max-width: 700px) {
	
	.brandsHeading {
   		height: 200px;
	}

	.brandsHeading .frame  {
	    height: 160px;
	    width: 100%;
	    margin: 0 20px;
	}

}

/* brands */


@media only screen and (max-width: 1200px) {
	
	.brandsContainer .nr6,
	.brandsContainer .nr7,
	.brandsContainer .nr13,
	.brandsContainer .nr14,
	.brandsContainer .nr20,
	.brandsContainer .nr21,
	.brandsContainer .nr27,
	.brandsContainer .nr28, 
	.brandsContainer:first-child .emptyElement:nth-child(7),
	.brandsContainer:first-child .emptyElement:nth-child(8),
	.brandsContainer:last-child .emptyElement:nth-child(7),
	.brandsContainer:last-child .emptyElement:nth-child(8) { 
		display: none;
	}

	.brandsContainer .singleElement {
	 	width: 18%;
	 	padding-top: 18%;
	}

	.brandsContainer .emptyElementSide {
	 	width: 5%;
	 	padding-top: 18%;
	}

	div.brandsContainer:first-child .emptyElementSide,
	div.brandsContainer:last-child .emptyElementSide {
	 	width: 5%;
	 	padding-top: 5%;
	}

	.brandsContainer .emptyElement {
	 	width: 18%;
	 	padding-top: 5%;
	}

	div.brandsContainer:first-child .emptyElement:nth-child(6),
	div.brandsContainer:last-child .emptyElement:nth-child(6),
	div.brandsContainer:nth-child(n+2):nth-child(-n+5) .singleElement:nth-child(6) {
		border-right: 0px solid rgba(60,64,66,0.2);
	}

}

@media only screen and (max-width: 800px) {
	
	.brandsContainer .nr5,
	.brandsContainer .nr12,
	.brandsContainer .nr19,
	.brandsContainer .nr26,
	.brandsContainer:first-child .emptyElement:nth-child(6),
	.brandsContainer:last-child .emptyElement:nth-child(6) { 
		display: none;
	}

	.brandsContainer .singleElement {
	 	width: 22.5%;
	 	padding-top: 22.5%;
	}

	.brandsContainer .emptyElementSide {
	 	width: 5%;
	 	padding-top: 22.5%;
	}

	div.brandsContainer:first-child .emptyElementSide,
	div.brandsContainer:last-child .emptyElementSide {
	 	width: 5%;
	 	padding-top: 5%;
	}

	.brandsContainer .emptyElement {
	 	width: 22.5%;
	 	padding-top: 5%;
	}

	div.brandsContainer:first-child .emptyElement:nth-child(5),
	div.brandsContainer:last-child .emptyElement:nth-child(5),
	div.brandsContainer:nth-child(n+2):nth-child(-n+5) .singleElement:nth-child(5) {
		border-right: 0px solid rgba(60,64,66,0.2);
	}

}

@media only screen and (max-width: 560px) {
	
	.brandsContainer .nr4,
	.brandsContainer .nr11,
	.brandsContainer .nr18,
	.brandsContainer .nr25,
	.brandsContainer:first-child .emptyElement:nth-child(5),
	.brandsContainer:last-child .emptyElement:nth-child(5) { 
		display: none;
	}

	.brandsContainer .singleElement {
	 	width: 32%;
	 	padding-top: 32%;
	}

	.brandsContainer .emptyElementSide {
	 	width: 2%;
	 	padding-top: 32%;
	}

	div.brandsContainer:first-child .emptyElementSide,
	div.brandsContainer:last-child .emptyElementSide {
	 	width: 2%;
	 	padding-top: 5%;
	}

	.brandsContainer .emptyElement {
	 	width: 32%;
	 	padding-top: 5%;
	}

	div.brandsContainer:first-child .emptyElement:nth-child(4),
	div.brandsContainer:last-child .emptyElement:nth-child(4),
	div.brandsContainer:nth-child(n+2):nth-child(-n+5) .singleElement:nth-child(4) {
		border-right: 0px solid rgba(60,64,66,0.2);
	}

}

/* footer */

